extends layout

block content
  .page-header
    h3 Maker Dashboard

  form.form-horizontal(action='/maker',method='GET')
    input(type='hidden', name='_csrf', value=_csrf)
    .container
      .row
        .col-sm-3
          .card
            canvas#header-blur.header-bg(width='250', height='70')
            .avatar
              img(src='', alt='')
            .content
              p
                | #{user.name} + " - " + #{user.foodorder.food}
              p
                button.btn.btn-default(type='button',onclick="window.open('auth/google', '_blank');") Contact
