extends layout

block content
  .page-header
    h3 Order Dashboard
       .container
      .row.bs-wizard(style='border-bottom:0;')
        .col-xs-4.bs-wizard-step.active
          .text-center.bs-wizard-stepnum Step 1
          .progress
            .progress-bar
          a.bs-wizard-dot(href='/order')
          .bs-wizard-info.text-center Choose your recipe!
        .col-xs-4.bs-wizard-step.active
          // complete
          .text-center.bs-wizard-stepnum Step 2
          .progress
            .progress-bar
          a.bs-wizard-dot(href='/order_2')
          .bs-wizard-info.text-center Pick a Chef!
        .col-xs-4.bs-wizard-step.active
          // complete
          .text-center.bs-wizard-stepnum Step 3
          .progress
            .progress-bar
          a.bs-wizard-dot(href='#')
          .bs-wizard-info.text-center Time to eat!
  form.form-horizontal(id='order-form3', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .row
      .form-group
        .col-sm-offset-3.col-sm-7
            button.btn.btn-primary.btn-lg.btn-block.center-block(type='submit')
              | Finish!
