extends layout

script(type='text/javascript').
  var qualifList = [];
  (function(){
  xhrGet.open("GET", 'https://api.mongolab.com/api/1/databases/gitfood/collections/users?apiKey=Q_JEMlpcAh-Ncr44F93GFDlDsTcYaCPE');
  xhrGet.onreadystatechange = function(){
  var response = JSON.parse(xhrGet.responseText);
  for(var i = 0; i < response.length; i++){
  var n = response[i];
  var name = n.name;
  var cuisines = n.cuisines;
  var status = n.sitepos;
  console.log(name+"/"+cuisines+"/"+status);
  //if(cuisines.)
  qualifList[i]=n;
  }
  var length = qualifList.size();
  for (user in qualifList){
  (function(){$('row').append(
  '<div class="col-sm-3">
  <div class="card">
  <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
  <div class="avatar">
  <img src='+user.picture+'/>
  </div>
  <div class="content">
  <p>'+ user.name +'<br>'+
  user.cuisines+' - ' + user.location+ '</p>
  <p><button type="button" class="btn btn-default" onclick=" ">Select</button></p>
  </div>
  </div>
  </div>');})();
  }
.container
  .row
    h1
      | Nearby Makers
  .row
